* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: gray
}
.quiz-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 750px;
  width: 650px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;

  /* border: 5px solid red; */
}
.question {
  text-align: center;
}
.questions {
  width:100%;
  display:flex;
  flex-direction: column;
  flex: 1;
  /* border:2px solid blue */
}

.answers {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 2px solid black; */
  flex:1;
  justify-content: space-around;
}

.answer {
  padding: 60px ;
  width: 100%;
  border-radius: 10px;
  cursor:pointer;

}

/* navigation */
.navigation-bar {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  width: 100%;
  height: 40px;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
}

.question-counter {
  font-weight: bold;
  font-size: 1.2rem
}

.nav-btn {
  padding: 5px 25px;
  border: none;
  background-color: transparent;
  cursor:pointer;
  font-weight: bold;
}
